* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  background: #0f0f10;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  margin: 0 15vw;
}

nav {
  padding: 30px 0;
  width: 100%;
}

nav,
.nav-right,
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  margin-right: 40px;
}

nav ul li a {
  font-weight: 700;
  font-size: 14px;
  color: white;
}

nav button {
  background: #1e1e21;
  border-radius: 8px;
  font-weight: 300;
  font-size: 14px;
  padding: 10px 40px;
  font-weight: 500;
}

nav button:hover {
  cursor: pointer;
  background: #ffffff;
  color: #1e1e21;
}
